<!DOCTYPE html>
<html lang="en">
{% extends 'main/base.html' %}
{% load static %}
{% block main_content %}
<head>

</head>

<body>

        <!--Search Box Start-->
        <section class="search-box">
            <div class="search-box__container">
                <form class="search-box__form">
                    <ul class="list-unstyled search-box__main clearfix">
                        <li class="search-box__input">
                            <select class="selectpicker" aria-label="Default select example">
                                <option selected>Pick-up location</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </li>
                        <li class="search-box__input">
                            <select class="selectpicker" aria-label="Default select example">
                                <option selected>Drop-off location</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </li>
                        <li class="search-box__input">
                            <select class="selectpicker" aria-label="Default select example">
                                <option selected>Select car class</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </li>
                        <li class="search-box__input">
                            <input type="text" name="date" placeholder="Select date" id="datepicker">
                            <div class="search-box__icon-box">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </li>
                        <li class="search-box__input">
                            <input type="text" name="time" placeholder="Select time">
                            <div class="search-box__icon-box">
                                <i class="far fa-clock"></i>
                            </div>
                        </li>
                        <li class="search-box__input">
                            <button type="submit" class="search-box__btn">Find Your Car</button>
                        </li>
                    </ul>
                </form>
            </div>
        </section>
        <!--Search Box  Start-->


        <!--Premium Ride Start-->
        <section class="premium-ride">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Meet the Right Services</span>
                    <h2 class="section-title__title">Ride Premium Cars</h2>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <ul class="list-unstyled premium-ride-box">
                            <li class="premium-ride__single wow fadeInUp" data-wow-delay="100ms">
                                <div class="premium-ride__img">
                                    <img src="{% static 'assets/images/resources/premium-ride-img-1.png' %}" alt="">
                                </div>
                                <h3 class="premium-ride__title">Business <br>Rentals</h3>
                                <p class="premium-ride__text">Trillion the carbon in our apple pies circumnavigated
                                    galaxies across the centuries.</p>
                            </li>
                            <li class="premium-ride__single wow fadeInUp" data-wow-delay="200ms">
                                <div class="premium-ride__img">
                                    <img src="{% static 'assets/images/resources/premium-ride-img-2.png' %}" alt="">
                                </div>
                                <h3 class="premium-ride__title">Luxury <br>Rentals</h3>
                                <p class="premium-ride__text">Trillion the carbon in our apple pies circumnavigated
                                    galaxies across the centuries.</p>
                            </li>
                            <li class="premium-ride__single wow fadeInUp" data-wow-delay="300ms">
                                <div class="premium-ride__img">
                                    <img src="{% static 'assets/images/resources/premium-ride-img-3.png' %}" alt="">
                                </div>
                                <h3 class="premium-ride__title">Traveling <br>Rentals</h3>
                                <p class="premium-ride__text">Trillion the carbon in our apple pies circumnavigated
                                    galaxies across the centuries.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Premium Ride End-->

        <!--Featured One Start-->
        <section class="featured-one">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">People Love the Most</span>
                            <h2 class="section-title__title">Featured Rent Cars</h2>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="featured-one__btn-box">
                            <a href="#" class="thm-btn featured-one__btn">View All Cars</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="featured-one__left wow fadeInLeft" data-wow-duration="1500ms">
                            <div class="featured-one__left-img">
                                <img src="{% static 'assets/images/resources/featured-one-img-1.jpg' %}" alt="">
                                <div class="featured-one__left-img-content">
                                    <h2 class="featured-one__left-img-title"><a href="listings-details.html">Land Rover
                                            Evoque Pure</a></h2>
                                    <p class="featured-one__left-car-price"><span>$32</span> /perday</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <!--Featured One Single-->
                                <div class="featured-one__single wow fadeInUp" data-wow-delay="100ms">
                                    <div class="featured-one__img">
                                        <img src="{% static 'assets/images/resources/featured-one-img-2.jpg' %}" alt="">
                                        <div class="featured-one__img-content">
                                            <h3 class="featured-one__img-content-title"><a
                                                    href="listings-details.html">Toyota Prius Auto</a></h3>
                                            <p class="featured-one__img-content-car-price"><span>$32</span> /perday</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <!--Featured One Single-->
                                <div class="featured-one__single wow fadeInUp" data-wow-delay="200ms">
                                    <div class="featured-one__img">
                                        <img src="{% static 'assets/images/resources/featured-one-img-3.jpg' %}" alt="">
                                        <div class="featured-one__img-content">
                                            <h3 class="featured-one__img-content-title"><a
                                                    href="listings-details.html">Toyota Prius Auto</a></h3>
                                            <p class="featured-one__img-content-car-price"><span>$32</span> /perday</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <!--Featured One Single-->
                                <div class="featured-one__single wow fadeInUp" data-wow-delay="300ms">
                                    <div class="featured-one__img">
                                        <img src="{% static 'assets/images/resources/featured-one-img-4.jpg' %}" alt="">
                                        <div class="featured-one__img-content">
                                            <h3 class="featured-one__img-content-title"><a
                                                    href="listings-details.html">Toyota Prius Auto</a></h3>
                                            <p class="featured-one__img-content-car-price"><span>$32</span> /perday</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <!--Featured One Single-->
                                <div class="featured-one__single wow fadeInUp" data-wow-delay="400ms">
                                    <div class="featured-one__img">
                                        <img src="{% static 'assets/images/resources/featured-one-img-5.jpg' %}" alt="">
                                        <div class="featured-one__img-content">
                                            <h3 class="featured-one__img-content-title"><a
                                                    href="listings-details.html">Toyota Prius Auto</a></h3>
                                            <p class="featured-one__img-content-car-price"><span>$32</span> /perday</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Featured One End-->

        <!--Explore Car Start-->
        <section class="explore-car">
            <div class="explore-car__container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Browse Hot Offers</span>
                    <h2 class="section-title__title">Explore Car Range</h2>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <!--Explore Car Single-->
                        <div class="explore-car__single">
                            <div class="explore-car__img">
                                <img src="{% static 'assets/images/resources/explore-car-img-1.jpg' %}" alt="">
                                <div class="explore-car__icon">
                                    <i class="far fa-heart"></i>
                                </div>
                            </div>
                            <div class="explore-car__content">
                                <h5 class="explore-car__sub-title">Sedan Car</h5>
                                <h3 class="explore-car__title"><a href="listings-details.html">Land Rover Evoque
                                        Pure</a></h3>
                                <p class="explore-car__price"><span>$32 </span>/perday</p>
                                <ul class="list-unstyled explore-car__details">
                                    <li><a href="#">2016 Petrol</a></li>
                                    <li><a href="#">Air Condition</a></li>
                                    <li><a href="#">Auto</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <!--Explore Car Single-->
                        <div class="explore-car__single">
                            <div class="explore-car__img">
                                <img src="{% static 'assets/images/resources/explore-car-img-2.jpg' %}" alt="">
                                <div class="explore-car__icon">
                                    <i class="far fa-heart"></i>
                                </div>
                            </div>
                            <div class="explore-car__content">
                                <h5 class="explore-car__sub-title">Sedan Car</h5>
                                <h3 class="explore-car__title"><a href="listings-details.html">Land Rover Evoque
                                        Pure</a></h3>
                                <p class="explore-car__price"><span>$32 </span>/perday</p>
                                <ul class="list-unstyled explore-car__details">
                                    <li><a href="#">2016 Petrol</a></li>
                                    <li><a href="#">Air Condition</a></li>
                                    <li><a href="#">Auto</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <!--Explore Car Single-->
                        <div class="explore-car__single">
                            <div class="explore-car__img">
                                <img src="{% static 'assets/images/resources/explore-car-img-3.jpg' %}" alt="">
                                <div class="explore-car__icon">
                                    <i class="far fa-heart"></i>
                                </div>
                            </div>
                            <div class="explore-car__content">
                                <h5 class="explore-car__sub-title">Sedan Car</h5>
                                <h3 class="explore-car__title"><a href="listings-details.html">Land Rover Evoque
                                        Pure</a></h3>
                                <p class="explore-car__price"><span>$32 </span>/perday</p>
                                <ul class="list-unstyled explore-car__details">
                                    <li><a href="#">2016 Petrol</a></li>
                                    <li><a href="#">Air Condition</a></li>
                                    <li><a href="#">Auto</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <!--Explore Car Single-->
                        <div class="explore-car__single">
                            <div class="explore-car__img">
                                <img src="{% static 'assets/images/resources/explore-car-img-4.jpg' %}" alt="">
                                <div class="explore-car__icon">
                                    <i class="far fa-heart"></i>
                                </div>
                            </div>
                            <div class="explore-car__content">
                                <h5 class="explore-car__sub-title">Sedan Car</h5>
                                <h3 class="explore-car__title"><a href="listings-details.html">Land Rover Evoque
                                        Pure</a></h3>
                                <p class="explore-car__price"><span>$32 </span>/perday</p>
                                <ul class="list-unstyled explore-car__details">
                                    <li><a href="#">2016 Petrol</a></li>
                                    <li><a href="#">Air Condition</a></li>
                                    <li><a href="#">Auto</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Explore Car End-->

        <!--Rent a Car Start-->
        <section class="rent-car">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="rent-car__left">
                            <div class="rent-car__img">
                                <img src="{% static 'assets/images/resources/rent-car-img-1.jpg' %}" alt="">
                                <div class="rent-car__vid-link">
                                    <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ"
                                        class="rent-car__video-btn video-popup">
                                        <div class="rent-car__video-icon">
                                            <span class="fa fa-play"></span>
                                            <i class="ripple"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="rent-car__right">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Get More Information</span>
                                <h2 class="section-title__title">About Premium Rent A Car</h2>
                            </div>
                            <ul class="list-unstyled rent-car__list-box">
                                <li>
                                    <div class="rent-car__icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="rent-car__content">
                                        <h4 class="rent-car__content-title">Wide Range of Cars</h4>
                                        <p class="rent-car__content-text">Lorem Ipsum nibh vel velit auctor aliquet.
                                            Aenean sollic tudin, lorem is simply free text quis bibendum.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="rent-car__icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="rent-car__content">
                                        <h4 class="rent-car__content-title">Trusted of Thousands</h4>
                                        <p class="rent-car__content-text">Lorem Ipsum nibh vel velit auctor aliquet.
                                            Aenean sollic tudin, lorem is simply free text quis bibendum.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="rent-car__icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="rent-car__content">
                                        <h4 class="rent-car__content-title">Best Car Rental Services</h4>
                                        <p class="rent-car__content-text">Lorem Ipsum nibh vel velit auctor aliquet.
                                            Aenean sollic tudin, lorem is simply free text quis bibendum.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Rent a Car End-->

        <!--Download Start-->
        <section class="download">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="download__content">
                            <p class="download__text">Get our mobile app for easy and convenient usage</p>
                            <h2 class="download__title">Download Our Application</h2>
                            <div class="download__btns">
                                <div class="download__btn-1">
                                    <a href="#">
                                        <i class="fa fa-play"></i>
                                        <p><span>Get in</span><br>Google Play</p>
                                    </a>
                                </div>
                                <div class="download__btn-1 download__btn-2">
                                    <a href="#">
                                        <i class="fab fa-apple"></i>
                                        <p><span>Get in</span><br>Play Store</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 wow fadeInRight" data-wow-duration="1500ms">
                        <div class="download__screen">
                            <div class="download__screen-image">
                                <img src="{% static 'assets/images/resources/download-screen-img.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Download End-->

        <!--About One Start-->
        <section class="about-one">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 wow slideInLeft" data-wow-duration="1500ms">
                        <div class="about-one__img">
                            <img src="{% static 'assets/images/resources/about-one-img-1.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="about-one__content">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Get More Information</span>
                                <h2 class="section-title__title">About Premium Rent A Car</h2>
                            </div>
                            <p class="about-one__text">There are many variations of passages of Lorem Ipsum available,
                                but the majority have suffered alteration in some form.</p>
                            <div class="about-one__bottom">
                                <div class="about-one__bottom-icon">
                                    <span class="icon-car-rental"></span>
                                </div>
                                <div class="about-one__bottom-text">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have suffered alteration in some form.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About One End-->

        <!--Brand One Start-->
        <section class="brand-one">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <!--Brand One Single-->
                        <div class="brand-one__single">
                            <div class="brand-one__main-img">
                                <a href="#"><img src="{% static 'assets/images/brand/brand-1-1.png' %}" alt=""></a>
                            </div>
                            <div class="brand-one__overly">
                                <a href="#"><img src="{% static 'assets/images/brand/brand-1-1-overly.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <!--Brand One Single-->
                        <div class="brand-one__single">
                            <div class="brand-one__main-img">
                                <a href="#"><img src="{% static 'assets/images/brand/brand-1-2.png' %}" alt=""></a>
                            </div>
                            <div class="brand-one__overly">
                                <a href="#"><img src="{% static 'assets/images/brand/brand-1-2-overly.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <!--Brand One Single-->
                        <div class="brand-one__single">
                            <div class="brand-one__main-img">
                                <a href="#"><img src="{% static 'assets/images/brand/brand-1-3.png' %}" alt=""></a>
                            </div>
                            <div class="brand-one__overly">
                                <a href="#"><img src="{% static 'assets/images/brand/brand-1-3-overly.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <!--Brand One Single-->
                        <div class="brand-one__single">
                            <div class="brand-one__main-img">
                                <a href="#"><img src="{% static 'assets/images/brand/brand-1-4.png' %}" alt=""></a>
                            </div>
                            <div class="brand-one__overly">
                                <a href="#"><img src="{% static 'assets/images/brand/brand-1-4-overly.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Brand One End-->

        <!--News One Start-->
        <section class="news-one">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Directly From the Blog</span>
                    <h2 class="section-title__title">News & Articles</h2>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                        <!--News One Single-->
                        <div class="news-one__single">
                            <div class="news-one__img">
                                <img src="{% static 'assets/images/blog/news-one-1.jpg' %}" alt="">
                                <div class="news-one__date-box">
                                    <p>20 <br> Apr</p>
                                </div>
                                <a href="news-details.html">
                                    <span class="news-one__plus"></span>
                                </a>
                            </div>
                            <div class="news-one__content">
                                <ul class="list-unstyled news-one__meta">
                                    <li><a href="news-details.html"><i class="fas fa-tags"></i> Rental</a></li>
                                    <li><a href="news-details.html"><i class="fas fa-comments"></i> 2 Comments</a>
                                    </li>
                                </ul>
                                <h3 class="news-one__title">
                                    <a href="news-details.html">Guide to Create a Listing Based Business</a>
                                </h3>
                                <div class="news-one__person">
                                    <div class="news-one__person-img">
                                        <img src="{% static 'assets/images/blog/news-one-person-1.png' %}" alt="">
                                    </div>
                                    <div class="news-one__person-text">
                                        <span>Mike Hardson</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                        <!--News One Single-->
                        <div class="news-one__single">
                            <div class="news-one__img">
                                <img src="{% static 'assets/images/blog/news-one-2.jpg' %}" alt="">
                                <div class="news-one__date-box">
                                    <p>20 <br> Apr</p>
                                </div>
                                <a href="news-details.html">
                                    <span class="news-one__plus"></span>
                                </a>
                            </div>
                            <div class="news-one__content">
                                <ul class="list-unstyled news-one__meta">
                                    <li><a href="news-details.html"><i class="fas fa-tags"></i> Rental</a></li>
                                    <li><a href="news-details.html"><i class="fas fa-comments"></i> 2 Comments</a>
                                    </li>
                                </ul>
                                <h3 class="news-one__title">
                                    <a href="news-details.html">Guide to Create a Listing Based Business</a>
                                </h3>
                                <div class="news-one__person">
                                    <div class="news-one__person-img">
                                        <img src="{% static 'assets/images/blog/news-one-person-2.png' %}" alt="">
                                    </div>
                                    <div class="news-one__person-text">
                                        <span>Jessica Brown</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                        <!--News One Single-->
                        <div class="news-one__single">
                            <div class="news-one__img">
                                <img src="{% static 'assets/images/blog/news-one-3.jpg' %}" alt="">
                                <div class="news-one__date-box">
                                    <p>20 <br> Apr</p>
                                </div>
                                <a href="news-details.html">
                                    <span class="news-one__plus"></span>
                                </a>
                            </div>
                            <div class="news-one__content">
                                <ul class="list-unstyled news-one__meta">
                                    <li><a href="news-details.html"><i class="fas fa-tags"></i> Rental</a></li>
                                    <li><a href="news-details.html"><i class="fas fa-comments"></i> 2 Comments</a>
                                    </li>
                                </ul>
                                <h3 class="news-one__title">
                                    <a href="news-details.html">Guide to Create a Listing Based Business</a>
                                </h3>
                                <div class="news-one__person">
                                    <div class="news-one__person-img">
                                        <img src="{% static 'assets/images/blog/news-one-person-3.png' %}" alt="">
                                    </div>
                                    <div class="news-one__person-text">
                                        <span>Kevin Martin</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--News One End-->

        <!--CTA One Start-->
        <section class="cta-one">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="cta-one__inner">
                            <div class="cta-one__left">
                                <div class="cta-one__icon">
                                    <span class="icon-rent-sign"></span>
                                </div>
                                <div class="cta-one__content">
                                    <p>3800 People Use Entox Services</p>
                                    <h2>Best & Quality Rental Marketplace</h2>
                                </div>
                            </div>
                            <div class="cta-one__btn-box">
                                <a href="#" class="thm-btn cta-one__btn">Find Anything</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--CTA One End-->





</body>

</html>

{% endblock main_content %}